/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of meyer reset */

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
  "sidebar header"
  "sidebar content";
}

/* sidebar styles start */
.sidebar {
  background-color: blue;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
  "logo"
  "sb-links";
}

.logo {
  grid-area: logo;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 2rem 3rem;
  place-self: center start;
}

.sbLinks {
  grid-area: sb-links;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  justify-items: start;
}

.linkImg {
  height: 1rem;
}

.sbLinks li {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 2rem 3rem;
  place-items: center start;
}

/* sidebar styles end */

/* header styles start */

.header {
  background-color: red;
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
  "search    profile"
  "greeting  btns";
}

.search {
  grid-area: search;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "searchLabel searchField";
}

.searchLabel, .searchField {
  align-self: center;
}

.searchLabel {
  justify-self: end;
  grid-area: searchLabel;
  height: 1.5rem;
  padding: 1.5rem;
}

.searchField {
  justify-self: start;
  grid-area: searchField;
  width: 90%;
  height: 2rem;
  padding: 8px;
  border-radius: 15px;
}

.greeting {
  grid-area: greeting;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "largeProfilePic helloUser"
  "largeProfilePic username";
}

.largeProfilePic {
  grid-area: largeProfilePic;
  place-self: center;
}

.helloUser {
  grid-area: helloUser;
  place-self: end start;
}

.profile {
  grid-area: profile;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "bell profilePic username";
}

.bell, .profilePic, .username {
  align-self: center;
}

.bell {
  grid-area: bell;
  justify-self: end;
}

.profilePic {
  grid-area: profilePic;
  justify-self: center;
}

.username {
  grid-area: username;
  justify-self: start;
}

.btns {
  grid-area: btns;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.btn {
  width: 80%;
  height: 60%;
  border-radius: 20px;
  background-color: blue;
  border: blue;
  color: white;
}

/* header styles end */

/* content styles start */

.content {
  background-color: gray;
  grid-area: content;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  grid-template-areas:
  "projects projects announcements"
  "cards     cards     announcements"
  "cards     cards     trending"
  "cards     cards     trending";
}

.contentTitle {
  place-self: start;
}

#projects {
  grid-area: projects;
}

#announcements {
  grid-area: announcements;
}

.cards {
  grid-area: cards;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  background-color: olive;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  place-self: center;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 10px;
}

.cardText {
  place-self: start;

}

.cardTitle {
  font-weight: 700;
  padding: 8px;
}

.cardContent {
  line-height: 1.2;
  padding: 8px;
}

.cardIcons {
  place-self: center end;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.cardIcon {
  padding: 8px;
  margin-right: 4px;
}

#trending {
  grid-area: trending;
}

/* content styles end */
